* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: black;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px;
}

.car-icon {
    width: 15%;
}

.icon-hamburger {
    width: 25%;
}

.electric-title {
    color: aliceblue;
    display: inline;
    padding: 10px;
}

.menu-hamburguesa {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.menu {
    display: none;
}

.container {
    text-align: center;
    margin: 40px;
}

.card {
    border: 1px solid gray;
    background-color: #FFC32D;
}

.car-image {
    width: 100%;
}

.car-model {
    padding: 20px 0;
}

.button-ver {
    margin-bottom: 20px;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: rgb(3, 89, 175);
    color: white;
    border: 1px solid rgb(14, 112, 209);
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination li {
    list-style-type: none;
    border: 1px solid rgb(168, 168, 168);
    padding: 10px 30px;
}

.pagination li:nth-child(2) {
    background-color: #8832a8;
    color: aliceblue;
}


footer {
    background-color: black;
    text-align: center;
    color: aliceblue;
    padding: 30px;
    margin-top: 40px;
}

.icon-rrss {
    width: 10%;
}

.hidden {
    display: none;
}

@media only screen and (min-width: 576px) {

    main {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        justify-items: center;
        height: 400px;
        grid-template-areas:
            "nav filter filter filter"
            "nav container container container"
            "nav container container container"
            "footer container container container"
    }

    nav {
        display: flex;
        grid-area: nav;
    }

    .filters {
        grid-area: filter;
        background-color: #ada6af;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .dropdown{
        background-color: white;
        width: 80%;
        margin: 20px;
        padding: 10px;
        text-align: left;
    }

    .container {
        grid-area: container;
        display: grid;
        gap: 20px;
    }

    .container-card {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 2%;
    }

    .pagination {
        grid-area: pagination;
        width: 100%;
    }

    footer {
        grid-area: footer;
        width: 100%;
        margin: 0;
    }

    .menu {
        display: flex;
        justify-content: center;
    }

    .menu a {
        text-decoration: none;
        color: aliceblue;
    }

    .icon-hamburger {
        display: none;
    }

    .container {
        display: grid;
    }

    .hidden {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .icon-rrss {
        width: 24%;
    }


}